<div class="container mt-5 mb-5">
    <h1 class="text-center">Sobre min</h1>
    <p>
        Me chamo, Fabricio Ramos Coelho, tenho 26 anos e estou ingressando nesse mundo da programação, criei este site no intuito de botar em pratica o que venho estudando.
        <br>
        Através de um grande amigo que praticamente me obrigou a entrar nessa area pois percebeu minha infelicidade em outra área resolvi correr atrás.<br> atualmente estou trabalhando como professor de informatica mas quero mesmo é ser programador. Me façam criticas construtivas.
    </p>
</div>
